.main-wrapper {
  width: 70%;
  z-index: 999;
}
.main-navigation {
  margin-top: 40px;
  width: 100%;
  display: block;
  box-shadow: 0px 5px 15px rgba(104, 87, 253);
  background: linear-gradient(#6859fd, #4f88fb, #6956fd) fixed;
  border-radius: 10px;
  padding: 25px;
  color: white;
}
.main-navigation p span {
  font-size: 18px;
  margin-right: 10px;
}
